extends ../base.pug
block head
    style.
        .startWindow{position:relative;width:100%;min-height:100vh!important;max-height:calc(0.8 * 100vw/1.7);background:-o-linear-gradient(#000000d5 0,#00000010 90px,#ffffff00 120px),url(/img/home/5.jpg) left top!important;background:linear-gradient(#000000d5 0,#00000010 90px,#ffffff00 120px),url(/img/home/5.jpg) left top!important;background-size:cover!important}.goBottom{position:absolute;bottom:0;left:0;width:100%;height:40px;mix-blend-mode:normal;z-index:3;background:rgba(112,112,112,0.34);border-top:1px solid rgba(255,255,255,0.7);display:-webkit-box;display:-ms-flexbox;display:flex}.goBottom img{-webkit-filter:invert(0.2);filter:invert(0.2);cursor:pointer;margin:auto;margin-bottom:2px;width:50px;height:35px}
block main
    
    .startWindow(data-type="background")
        .welcome Добро пожаловать на мой сайт-портфолио, меня зовут Антон Таточенко, я занимаюсь профессионально фотографией уже на протяжении 3 лет, с помощью этого сайта вы сможете ознакомиться с моими работами и связаться со мной.
        .welcome_mobile 
            .category 
                span(onclick="scrollToObject(lastest_photoShoots)") View category
            .lastest 
                span(onclick="scrollToObject(lastest_photoShoots)") View lastest photo
        .goBottom 
            img(src="/img/down.png", alt="", srcset="", onclick="scrollToObject(photoShoot__types);")
                
    section
        .photoShoot__types(id="photoShoot__types")
            h2 Виды фотосессий 
            mixin photoShoot(name, id, src)
                .photoShoot__type(id=id)
                    img(alt=id, src=src)
                    p
                        span= name

            - var name_list = ["Свадебные", "Портретные", "Студийные", "История любви", "Прогулочные", "Будуарные", "Черно-Белые", "Творческие", "Репортажные", "Пейзажные", "Вечеринки", "Эксперементы"]
            - var id_list = ["wedding", "portrait", "studio", "loveStorie", "walking", "boudoir","black_and_white", "creative", "reporting", "landscape", "parties", "experiments"]
            - for (var i = 1; i < 13; i++)
                +photoShoot(name_list[i-1], id_list[i-1],"/img/types/"+i+".jpg") 
            button(anim="ripple") 
                a(href="/portfolio") Посмотреть остальные стили
                

    .parallax-container(data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/img/home/2.jpg" data-natural-width="4368" data-natural-height="2912")
        .caption(onclick="scrollToObject(lastest_photoShoots);") Последние работы
    section
        .lastest_photoShoots(id="lastest_photoShoots")
            mixin lastest_photoShoots(src)
                    .photoShoot__type
                        img(src=src)
            - var name_list = ["Свадебные", "Портретные", "Студийные", "История любви", "Прогулочные", "Будуарные"]
            - var id_list = ["wedding", "portrait", "studio", "loveStorie", "walking", "Boudoir"]
            - for (var i = 1; i < 15; i++)
                +lastest_photoShoots("/img/latest/"+i+".jpg")
            div(style="width:100%")
            button(anim="ripple") 
                a(href="/portfolio") Посмотреть ещё работы

    .parallax-container(data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="/img/home/4.jpg" data-natural-width="4278" data-natural-height="2852")
        .caption 
            a(href="/contact") Связаться со мной
    
